<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find crx10ia_l_moveit_config)/config/ros2_controllers.yaml</parameters>
                <hold_joints>true</hold_joints>
                <!-- <controller_manager_name>moveit_simple_controller_manager</controller_manager_name> -->
            </plugin>
        </gazebo>
        
        <xacro:macro name="crx_ros2_control_gazebo">
            <!-- Read only parameter should allow to move the robot via manual guidance, jog, etc throu the TP, and makes available the /joint_states topic -->

            <ros2_control name="GazeboSystem" type="system">

                <hardware>
                    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                </hardware>

                <joint name="J1">
                    <command_interface name="position">
                        <param name="min">{-2*pi}</param>
                        <param name="max">{2*pi}</param>
                    </command_interface>

                    <command_interface name="effort">
                        <param name="min">-1000</param>
                        <param name="max">1000</param>
                    </command_interface>

                    <state_interface name="position">
                        <param name="initial_value">0.0</param>
                    </state_interface>
                    <state_interface name="velocity"/>
                </joint>

                <joint name="J2">
                    <command_interface name="position">
                        <param name="min">{-2*pi}</param>
                        <param name="max">{2*pi}</param>
                    </command_interface>

                    <command_interface name="effort">
                        <param name="min">-1000</param>
                        <param name="max">1000</param>
                    </command_interface>

                    <state_interface name="position">
                        <param name="initial_value">0.0</param>
                    </state_interface>
                    <state_interface name="velocity"/>
                </joint>

                <joint name="J3">
                    <command_interface name="position">
                        <param name="min">{-pi}</param>
                        <param name="max">{pi}</param>
                    </command_interface>

                    <command_interface name="effort">
                        <param name="min">-1000</param>
                        <param name="max">1000</param>
                    </command_interface>

                    <state_interface name="position">
                        <param name="initial_value">0.0</param>
                    </state_interface>
                    <state_interface name="velocity"/>
                </joint>

                <joint name="J4">
                    <command_interface name="position">
                        <param name="min">{-2*pi}</param>
                        <param name="max">{2*pi}</param>
                    </command_interface>

                    <command_interface name="effort">
                        <param name="min">-1000</param>
                        <param name="max">1000</param>
                    </command_interface>

                    <state_interface name="position">
                        <param name="initial_value">0.0</param>
                    </state_interface>
                    <state_interface name="velocity"/>
                </joint>

                <joint name="J5">
                    <command_interface name="position">
                        <param name="min">{-2*pi}</param>
                        <param name="max">{2*pi}</param>
                    </command_interface>

                    <command_interface name="effort">
                        <param name="min">-1000</param>
                        <param name="max">1000</param>
                    </command_interface>

                    <state_interface name="position">
                        <param name="initial_value">0.0</param>
                    </state_interface>
                    <state_interface name="velocity"/>
                </joint>

                <joint name="J6">
                    <command_interface name="position">
                        <param name="min">{-2*pi}</param>
                        <param name="max">{2*pi}</param>
                    </command_interface>

                    <command_interface name="effort">
                        <param name="min">-1000</param>
                        <param name="max">1000</param>
                    </command_interface>

                    <state_interface name="position">
                        <param name="initial_value">0.0</param>
                    </state_interface>
                    <state_interface name="velocity"/>
                </joint>

            </ros2_control>

        </xacro:macro>
</robot>
