<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="crx5ia">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import crx5ia urdf file -->
    <xacro:include filename="$(find crx_description)/urdf/crx5ia/crx5ia.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="crx5ia.ros2_control.xacro" />


    <xacro:crx5ia_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
